{% extends 'vue_utils/vue_base_template.html' %}

{% block main_content %}
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" background-color="#545c64"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-menu-item index="1">Система мониторинга</el-menu-item>
                <el-submenu index="2">
                    <template #title>Список устройств</template>
                    <el-menu-item index="2-1" @click="current_tab='tab-list'">item 1</el-menu-item>
                    <el-menu-item index="2-2" @click="current_tab='tab-cards'">item 2</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-container class="">
            <el-aside width="300px" class="search_aside" v-if="show_aside">
                <el-row class="aside_header" justify="center">
                    <h5>ФИЛЬТР</h5>
                    <el-button icon="el-icon-back" circle @click="toggle_aside"></el-button>
                    <el-button icon="el-icon-refresh" circle @click="refresh_devices"></el-button>
                </el-row>
                <div class="block">
                    <span class="demonstration">Устройств на страницу</span>
                    <el-select v-model="per_page" placeholder="Select" @change="refresh_devices">
                        <el-option key="2" label="2" value="2"></el-option>
                        <el-option key="10" label="10" value="10"></el-option>
                        <el-option key="20" label="20" value="20"></el-option>
                        <el-option key="50" label="50" value="50"></el-option>
                        <el-option key="100" label="100" value="100"></el-option>
                    </el-select>
                </div>
                <div class="block">
                    <span class="demonstration">От</span>
                    <el-date-picker
                            v-model="start_value"
                            type="datetime"
                            placeholder="Select date and time">
                    </el-date-picker>
                </div>
                <div class="block">
                    <span class="demonstration">До</span>
                    <el-date-picker
                            v-model="end_value"
                            type="datetime"
                            placeholder="Select date and time">
                    </el-date-picker>
                </div>
                <div class="block">
                    <el-checkbox v-model="checked_online">Только в сети</el-checkbox>
                </div>
                <div class="block">
                    <span class="demonstration">Название</span>
                    <el-input placeholder="Please input" v-model="selected_name"></el-input>
                </div>
                <div class="block">
                    <el-button type="primary" @click="refresh_devices">Поиск</el-button>
                </div>
                <div class="block" style="flex-grow: 10"></div>
            </el-aside>
            <el-aside width="40px" class="search_aside" v-else>
                <el-row class="aside_header" justify="center">
                    <el-button icon="el-icon-right" circle @click="toggle_aside"></el-button>
                </el-row>
            </el-aside>
            <el-container>
                <el-main>
                    <transition name="el-fade-in">
                        <component :is="current_tab" :device_data="device_data"></component>
                    </transition>

                    <el-pagination
                            background
                            layout="total, prev, pager, next"
                            v-model:current-page="page_index"
                            :page-size="per_page"
                            @current-change="refresh_devices"
                            :total="total_count">
                    </el-pagination>
                </el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </el-container>
    </el-container>

    <el-dialog
            title="Tips"
            v-model="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <span>Просмотр истории</span>
        <template #footer>
            <span class="dialog-footer">
              <el-button type="primary" @click="dialogVisible = false">OK</el-button>
            </span>
        </template>
    </el-dialog>
{% endblock %}

{% block css_header_extend %}
    <style>
        .el-header, .el-footer {
            background-color: #545c64;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .aside_header {
            align-content: flex-start;
            background-color: #353c42;
            padding: 5px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .aside_header h5 {
            justify-self: flex-start;
            flex-grow: 1;
        }


        .aside_header el-button {
            justify-self: flex-end;
            flex-grow: 0;
        }
        .params_show{
            line-height: 14px;
            text-align: left;
        }
        .params_show li{
            margin: 2px;
            padding: 5px;
        }

        .search_aside {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
        }

        .search_aside .block {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block vue_app_config %}
{% endblock %}

{% block vue_app_init %}
    <script>
        const APP_CONFIG = {
            delimiters: ["@{", "}@"],
            data() {
                return {
                    activeIndex: '1',
                    start_value: null,
                    end_value: null,
                    per_page: 10,
                    total_count: 0,
                    page_index: 1,
                    show_aside: true,
                    device_data: [],
                    checked_online: undefined,
                    selected_name: '',
                    current_tab: `tab-list`,
                    dialogVisible: false
                }
            },
            components: {
                'tab-list': {
                    delimiters: ["@{", "}@"],
                    props: ["device_data"],
                    template: `
                    <h5>Test Table</h5>
                    <el-table :data="device_data" style="width: 100%">
                        <el-table-column prop="on_line" label="В сети">
                            <template #default="scope">
                                <i v-bind:class="{ 'el-icon-success red': scope.row.on_line, 'el-icon-error': !scope.row.on_line}"  type="success"></i>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="Имя устройства"></el-table-column>
                        <el-table-column prop="temperature" label="Температура"></el-table-column>
                        <el-table-column prop="humidity" label="Влажность"></el-table-column>
                        <el-table-column prop="last" label="Дата последнего обновения"></el-table-column>
                        <el-table-column prop="status_temp" label="Статус температуры"></el-table-column>
                        <el-table-column prop="status_hum" label="Статус влажности"></el-table-column>
                    </el-table>
            `
                },
                "tab-cards": {
                    delimiters: ["@{", "}@"],
                    props: ["device_data"],
                    template: `
                    <el-row :gutter="20"  type='flex'>
                        <el-col :span="8"  v-for="(row, index) in device_data" justify="center" align="middle">
                            <el-card :body-style="{ padding: '5px'}"  shadow='always' :offset="index" style='margin: 10px'>
                              <template #header>
                                <div class="clearfix">
                                  <h6>@{ row.name }@</h6>
                                </div>
                              </template>
                                <div class="text item params_show">
                                    <ul>
                                        <li>Сеть:<i v-bind:class="{ 'el-icon-success red': row.on_line, 'el-icon-error': !row.on_line}"  type="success"></i></li>
                                        <li>Температура @{ row.temperature }@</li>
                                        <li>Влажность @{ row.humidity }@</li>
                                    </ul>
                                    @{ row.last }@
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                    `
                }
            },
            methods: {
                change() {
                    this.current_tab = comp_1
                },
                toggle_aside() {
                    console.log("TOOGLE")
                    this.show_aside = !this.show_aside
                },
                refresh_devices() {
                    console.log(this.page_index)
                    fetch('{% url 'list_filtered_device_status_ajax' %}?' + new URLSearchParams({
                        page: this.page_index,
                        per_page: this.per_page,
                        is_online: this.checked_online,
                        search_name: this.selected_name,
                    }))
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            console.log(json)
                            this.device_data = json.list
                            this.total_count = json.count
                        })
                        .catch((error) => {
                            this.$notify({
                                title: 'ERROR',
                                message: error,
                                type: 'error'
                            });
                            console.log(error);
                        });
                },
                currentTabComponent() {
                    return this.current_tab;
                },
            },
            mounted() {
                this.refresh_devices()
            }

        }
        const app = Vue.createApp(APP_CONFIG)
        window.main_app = app;
        app.use(ElementPlus, {size: 'small', zIndex: 3000});
    </script>
{% endblock %}

