{% extends 'devices/base_template.html' %}
{% load fw_tags %}
{% load static %}
{% load tz %}

{% block page_title%}
    <a class="blog-header-logo text-light" href="{% url 'list_devices' %}?{% param_replace params %}">Состояние устройств</a>
{% endblock %}


{% block content %}
    <div class="container">
    <div class="row py-2">
        <div class="col-3">
            Время обновления
        </div>
        <div class="col-3">
            {% if current_id %}
                <select onchange="data_refresh(value,'{% url 'group_status_ajax' current_id %}', {'page':'{{ page_num}}',
                'per_page':'{{ per_page}}'})">
            {% else %}
                <select onchange="data_refresh(value,'{% url 'group_status_ajax' %}', {'page':'{{ page_num}}',
                'per_page':'{{ per_page}}'})">
            {% endif %}
                 <option value="-1">Нет</option>
                 <option value="10000">10 сек</option>
                 <option value="60000">1 мин</option>
                 <option value="300000">5 мин</option>
                 <option value="600000">10 мин</option>
                 <option value="3600000">1 час</option>
             </select>
        </div>
        <div class="col-3">
            Скрыть не активные
        </div>
        <div class="col-3">
            <input type="checkbox" id="hide_offline" onchange="hide_offline_blocks()"/>
        </div>
    </div>
    </div>
<div class="container">
    <div class="row">
            {% for group in groups %}
                {% if current_id == group.pk %}
                    <a href="{% url 'list_group_device' group.pk %}" class="btn btn-primary active" role="button" aria-pressed="true">{{ group.name }}</a>
                {% else %}
                    <a href="{% url 'list_group_device' group.pk %}" class="btn btn-secondary active" role="button" aria-pressed="true">{{ group.name }}</a>
                {% endif %}
            {% endfor %}
    </div>
    <div class="row">
        <div class="container">
            <div class="row py-2 my_container">
                {% for device in devices %}
                <div class="my_col" device-data-id="{{device.id}}">
                    <div class="alert
                    {% if not device.is_online %} alert-secondary
                    {% elif device.humidity_status == 0 and device.temperature_status == 0 %} alert-success
                    {% elif device.humidity_status == 1 or device.temperature_status == 1 %} alert-warning
                    {% elif device.humidity_status == 2 or device.temperature_status == 2 %} alert-warning
                    {% elif device.humidity_status == 3 or device.temperature_status == 3 %} alert-danger
                    {% elif device.humidity_status == 4 or device.temperature_status == 4 %} alert-danger
                    {% endif %}
                    " role="alert">
                        <h4 class="alert-heading">{{device.name}}
                            <span device-data-on_line>
                                {% if device.is_online %}
                                    <i class="fas fa-broadcast-tower"></i>
                                {%  else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </span>
                        </h4>
                        <p device-data-temperature>{{device.last_temperature|default_if_none:"--"}} °C
                            {% if device.temperature_status == 1%}
                                <i class="far fa-bell"></i><i class="fas fa-temperature-low"></i>
                            {% elif device.temperature_status == 2%}
                                <i class="far fa-bell"></i><i class="fas fa-temperature-high"></i>
                            {% elif device.temperature_status == 3%}
                                <i class="fas fa-exclamation-triangle"></i><i class="fas fa-temperature-low"></i>
                            {% elif device.temperature_status == 4%}
                                <i class="fas fa-exclamation-triangle"></i><i class="fas fa-temperature-high"></i>
                            {% endif %}
                        </p>
                        <p device-data-humidity>{{device.last_humidity|default_if_none:"--"}} %
                            {% if device.humidity_status == 1 or device.humidity_status == 2 %}
                                <i class="far fa-bell"></i>
                            {% elif device.humidity_status == 3 or device.humidity_status == 4 %}
                                <i class="fas fa-exclamation-triangle"></i>
                            {% endif %}
                        </p>
                        <p device-data-signal>{{device.signal|default_if_none:"--"}}дБ</p>

                        <hr>
                        <p class="mb-0">{{device.device_id}}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                            {% if device.is_online %}
                                {{device.date_of_modify|localtime|default_if_none:"--"}}
                            {% else %}
                                {{device.last_on_line|localtime|default_if_none:"--"}}
                            {% endif %}
                            </div>
                </div><div class="row">
                            <div class="col-sm-4"><a class="btn btn-secondary" role="button" href="{% url 'device_info' device.pk %}"><i class="fas fa-info"></i></a></div>
                            <div class="col-sm-4"><a class="btn btn-secondary" role="button" href="{% url 'device_graph' device.pk %}"><i class="fas fa-chart-bar"></i></a></div>
                            <div class="col-sm-4"><a class="btn btn-secondary" role="button" href="{% url 'list_values' device.pk %}"><i class="fas fa-table"></i></a></div>
                        </div>
                    </div>
                    </div>
                </div>
            {% empty %}
                    <div>Нет данных</div>
                {% endfor %}
            </div>
        </div>


        {% paging_navigation page params %}
    </div>
</div>
<script src="{% static 'devices/base.js' %}"></script>
{% endblock %}