{% extends 'devices/base_template.html' %}
{% load fw_tags %}
{% load static %}
{% load tz %}

{% block page_title%}
    <a class="blog-header-logo text-light" href="{% url 'list_devices' %}?{% param_replace params %}">Устройство {{ device.name }}</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}">
{% endblock %}

{% block content %}
    <div class="container noprint">
        {{ form.media }}            {# Adds date-picker required JS and CSS #}
            <div class="row">
        <form method="post" action="{% url 'list_values' device.pk %}" class="row">
            {% csrf_token %}
                <div class='col-sm-1'>
                    Диапазон с:
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" name="from_date" value="{{ from_date }}"/>
                            <span class="input-group-addon btn btn-primary">
                                <span class="fas fa-calendar-alt"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-1'>
                    До :
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" name="end_date" value="{{ end_date }}"/>
                            <span class="input-group-addon btn btn-primary">
                                <span class="fas fa-calendar-alt"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm">Строк
                 <select name='per_page'>
                 {% for index in per_page_values %}
                        <option value="{{index}}" {% if index == page_count %} selected {% endif %}>
                            {{index}}
                        </option>
                 {% endfor %}
                </select>
                </div>
                <div class='col-sm-3'>
                    <button class="btn btn_main" type="submit"><i class="fas fa-filter"></i></button>
                    <button class="btn btn_main" formaction="{% url 'device_graph' device.pk %}"><i class="fas fa-chart-bar"></i></button>
                    <button class="btn btn_main" type="button" onclick="moveBack()"><i class="fas fa-backward"></i></button>
                    <button class="btn btn_main" type="button" onclick="printit()"><i class="fas fa-print"></i></button>
                </div>

        </form>
                </div>
    </div>
    <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Дата / время</th>
          <th scope="col">Температура</th>
          <th scope="col">Влажность</th>
          <th scope="col">Сигнал</th>
          <th scope="col">Реле</th>
        </tr>
      </thead>
      <tbody>
      {% for item in values %}
        <tr>
            <td>{{ item.date_of_modify|localtime|default_if_none:'--' }}</td>
            <td>
                {{item.temperature|default_if_none:"--"}} °C
                    {% if item.temperature_status == 1%}
                        <i class="far fa-bell"></i><i class="fas fa-temperature-low"></i>
                    {% elif item.temperature_status == 2%}
                        <i class="far fa-bell"></i><i class="fas fa-temperature-high"></i>
                    {% elif item.temperature_status == 3%}
                        <i class="fas fa-exclamation-triangle"></i><i class="fas fa-temperature-low"></i>
                    {% elif item.temperature_status == 4%}
                        <i class="fas fa-exclamation-triangle"></i><i class="fas fa-temperature-high"></i>
                    {% endif %}
            </td>
            <td>
                {{item.humidity|default_if_none:"--"}} %
                {% if item.humidity_status == 1 or item.humidity_status == 2 %}
                        <i class="far fa-bell"></i>
                    {% elif item.humidity_status == 3 or item.humidity_status == 4 %}
                        <i class="fas fa-exclamation-triangle"></i>
                {% endif %}</td>
            <td>{{ item.signal|default_if_none:'--' }} дБ</td>
            <td>
                {% if item.switch %}
                    <i class="fas fa-plug"></i>
                {% else %}
                    <i class="far fa-times-circle"></i>
                {%  endif %}
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% paging_navigation page params from_date to_date %}
    </div>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
                $('#datetimepicker2').datetimepicker();
            });
</script>
<script language="Javascript">
            function printit(){
                window.print() ;
            }
            function printit2(){
                window.print() ;
                window.close();
            }
            function moveBack(){
                if(window.history.length>1){
                    window.history.go(-1);
                } else {
                    window.close();
                }
                return false;
            }
</script>
{% endblock %}